[attributes]
label: default
app_layout: application

[content]
<div class='mainlogo'>
	<a href='/'>
		{{ cms:file_link 10, as: image }}
	</a>
</div>

<div class='mainnav top'>
	<span><a href='/about'>About</a></span>
</div>

<div class='mainnav bottom'>
	<span><a href='https://decreation-studio.tumblr.com/'>S***F</a></span>
</div>

<div class='featuredimage-background'>
	{{ cms:file_link 15, as: image }}
</div>

<div class='categories'>
	<ul>
		<li><span>graphic</span></li>
		<li><span>digital</span></li>
		<li><span>identity</span></li>
		<li><span>enviro</span></li>
	</ul>
</div>

{{ cms:textarea content }}

<ul class="contact">
	<li>
		<span><a href='tel:+18456616747'>+001.845.661.6747</a></span>
		<span><a href='mailto:dougal@decreation.studio'>dougal@decreation.studio</a></span>
	</li>
	<li>
		<span><a href='#'>Dribble</a></span>
		<span><a href='#'>Instagram</a></span>
	</li>
	<li>
		<span><a href='#'>Vimeo</a></span>
	</li>
</ul>

[js]

[css]

