[attributes]
label: project

[content]
{{cms:files images, render: false}}
<div class='featuredimage-background'>
	<div class='slick'>
		{{cms:helper render_project_images}}
	</div>
</div>

<ul class='projectinfo'>
	<li class='margin-bottom'><a href='/'>X</a></li>
	<li>{{cms:text name}}</li>
	<li>{{cms:text org}}</li>
	<li>{{cms:text date}}</li>
	<li class='margin-top'>{{cms:wysiwyg description}}</li>
</ul>


[js]
$(document).ready(function(){
	$('.slick').slick({
	  responsive: true,
	  adaptiveHeight: true,
	  variableWidth: true,
	  arrows: true,
	  mobileFirst: true,
	  centerMode: true
	});
});

[css]

