[attributes]
label: project

[content]
{{cms:files images, render: false}}
<div class='featuredimage-background desktop project'>
	<div class='slick'>
		<div>{{cms:file featured_image, as: image}}</div>
		{{cms:helper render_project_images}}
	</div>
</div>

<div class='mobile margin-top margin-bottom'>{{cms:file featured_image, as: image}}</div>

<ul class='projectinfo'>
	<li class='margin-bottom'><a class='xicon' href='/'>{{ cms:file_link 19, as: image }}</a></li>
	<li>{{cms:text name}}</li>
	<li>{{cms:text org}}</li>
	<li>{{cms:text date}}</li>
	<li class='margin-top'>{{cms:wysiwyg description}}</li>
</ul>

<div class='mobile margin-top'>
	{{cms:helper render_project_images}}
</div>

{{ cms:asset default, type: js, as: tag }}

[js]

[css]

