ul.contact {
	position:absolute;
	right:1rem;
	bottom:1rem;
	font-size:11px;
	list-style:none;
	text-align:right;

	li {
		@extend .hoverlinks;
		margin-top:4px;

		a {
			text-decoration:none;
			color:#333;
			display:inline-block;
			margin-left:5px;
			letter-spacing:1px;
		}
	}

}