ul.contact {
	list-style:none;

	&.home {
		position:absolute;
		left:1rem;
		bottom:1rem;
		font-size:14px;
		transform: rotate(-90deg);
		margin-bottom:190px;
		margin-left:-190px;
	}

	li {
		@extend .hoverlinks;
		margin-top:4px;
		margin-right:2rem;
		float:left;

		display:inline-block;

		span {
			display:block;
		}

		span:before, span:after {
			height:3px !important;
			margin-top: -1.5px !important;
		}

		a {
			text-decoration:none;
			color:#333;
			display:inline-block;
			margin-left:5px;
			letter-spacing:1px;
		}
	}

	@media (max-width: $mobile-break-width){
		display:none;
	}
}