.projectlist {
	font-family:$font-title;
	font-size:24px;
	font-weight:500;
	line-height:36px;

	@media (min-width: $mobile-break-width){
		margin-left:-250px;
		position:absolute;
		left:50%;
		top:50%;
		width:500px;
		transform:translateY(-50%);
		text-align:center;
	}

	ul {
		list-style:none;

		li {
			display:inline-block;
			letter-spacing:1.2px;

			@extend .hoverlinks;
		}
	}

	@media (max-width: $mobile-break-width){
		width:100%;
		padding:0 1rem;
		margin-top:2rem;
	}
}
