.projectlist {
	font-family:$font-title;
	font-size:24px;
	font-weight:500;
	left:50%;
	line-height:36px;
	margin-left:-250px;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	width:500px;

	ul {
		list-style:none;
		text-align:center;

		li {
			display:inline-block;
			letter-spacing:1.2px;

			@extend .hoverlinks;
		}
	}
}