ul.projectinfo {
	font-size:14px;
	right:1rem;
	top:60px;
	list-style:none;
	line-height:22px;

	@media (min-width: $mobile-break-width){
		width:400px;
		position:absolute;
		text-align:right;
	}

	li {
		padding-left:1rem;

	}

	@media (max-width: $mobile-break-width){

	}
}

.projectinfo-mobileimages {
	
}