[attributes]
label: home

[content]

{{cms:partial project_images}}

<div class='featuredimage-background'>
	{{ cms:helper homepage_image }}
</div>

<div class='categories'>
	<ul>
		{{cms:partial sidenav_items}}
	</ul>
</div>

<div class='years'>
	<ul>
		{{cms:partial yearlist}}
	</ul>
</div>

<div class='mainnav top'>
	<a href='/about'>About</a>
</div>

<div class='mainnav bottom'>
	<a href='https://decreation-studio.tumblr.com/'>S***F</a>
</div>

{{ cms:textarea content }}

<ul class="contact home">
	{{cms:snippet contact}}
</ul>

{{ cms:asset default, type: js, as: tag }}

[js]
$(document).on('turbolinks:request-start', function(){
	$('.projectlist').slideUp();
});

[css]
.projectlist {
  font-family: "Prophet", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
}
@media (min-width: 650px) {
  /* line 1, /Users/Muffin/Code/decreation/app/assets/stylesheets/modules/projectlist.scss */
  .projectlist {
    margin-left: -325px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 650px;
    transform: translateY(-50%);
    text-align: center;
  }
}
/* line 17, /Users/Muffin/Code/decreation/app/assets/stylesheets/modules/projectlist.scss */
.projectlist ul {
  list-style: none;
}
/* line 20, /Users/Muffin/Code/decreation/app/assets/stylesheets/modules/projectlist.scss */
.projectlist ul li {
  display: inline-block;
  letter-spacing: 1.2px;
}
/* line 26, /Users/Muffin/Code/decreation/app/assets/stylesheets/modules/projectlist.scss */
.projectlist ul li:after {
  content: ' /';
}
/* line 30, /Users/Muffin/Code/decreation/app/assets/stylesheets/modules/projectlist.scss */
.projectlist ul li:last-child:after {
  content: '';
}
@media (max-width: 650px) {
  /* line 1, /Users/Muffin/Code/decreation/app/assets/stylesheets/modules/projectlist.scss */
  .projectlist {
    width: 100%;
    padding: 0 1rem;
    margin-top: 3rem;
    box-sizing: border-box;
    font-size: 30px;
    line-height: 42px;
  }
}
